target
nbactions.xml
nb-configuration.xml
/nbproject/
project.properties
*.iml
.idea/
.project
.settings/
.classpath
runelite-client/src/main/resources/META-INF/MANIFEST.MF
git
classes/artifacts/client_jar/run.bat
classes/artifacts/client_jar/client.jar
!gradle-wrapper.jar
.live/
**/build/*
*/out/
.gradle/
runelite-client/src/main/resources/runelite/*
runelite-client/dependencies.txt
.staging/
hs_err*
replay_pid*
/inventorygrid/
/defaultworld/
/banktags/
/raidsthieving/
/kingdomofmiscellania/
/groundmarkers/
/achievementdiary/
/skybox/
/emojis/
/wiki/
/bank/
/devtools/
/runecraft/
/tickcounter/
/banlist/
/itemstats/
/maxhit/
/smelting/
/mining/
/keyremapping/
/implings/
/driftnet/
/bosstimer/
/mta/
/spawntimer/
/herbiboar/
/friendnotes/
/fishing/
/mousehighlight/
/runepouch/
/stretchedmode/
/playerindicators/
/profiles/
/instancemap/
/party/
/randomevents/
/questlist/
/combatlevel/
/shayzieninfirmary/
/experiencedrop/
/nightmarezone/
/worldmap/
/prayer/
/chattranslation/
/discord/
/hunter/
/examine/
/bosstimetracker/
/specialcounter/
/cluescroll/
/equipmentinspector/
/playerinfo/
/boosts/
/mirror/
/timestamp/
/feed/
/menuentryswapper/
/clanchat/
/minimap/
/tmorph/
/screenshot/
/slayermusiq/
/ammo/
/gpu/
/chatfilter/
/neverlogout/
/idlenotifier/
/classic-377/
/chathistory/
/customclientresizing/
/xptracker/
/timers/
/roguesden/
/corp/
/grounditems/
/poison/
/stealingartefacts/
/inventorytags/
/learntoclick/
/agility/
/cooking/
/kourendlibrary/
/reportbutton/
/zalcano/
/chatcommands/
/puzzlesolver/
/itemidentification/
/friendtagging/
/screenmarkers/
/prayeralert/
/fairyring/
/itemskeptondeath/
/interfacestyles/
/highscore/
/metronome/
/itemcharges/
/twitch/
/chatnotifications/
/xpglobes/
/npcstatus/
/thieving/
/dailytaskindicators/
/performancestats/
/pestcontrol/
/teamcapes/
/loottracker/
/motherlode/
/virtuallevels/
/tearsofguthix/
/pyramidplunder/
/customcursor/
/worldhopper/
/cannon/
/poh/
/tileindicators/
/itemprices/
/antidrag/
/blastmine/
/loginscreen/
/camera/
/entityhider/
/lowmemory/
/tithefarm/
/barbarianassault/
/friendlist/
/dpscounter/
/bronzeman/
/npcunaggroarea/
/animsmoothing/
/deathindicator/
/grandexchange/
/npchighlight/
/barrows/
/reminders/
/timetracking/
/inventoryviewer/
/raids/
/opponentinfo/
/statusbars/
/statusorbs/
/slayer/
/suppliestracker/
/blastfurnance/
/objectindicators/
/xpupdater/
/highalchemy/
/privateserver/
/notes/
/skillcalculator/
/woodcutting/
/wintertodt/
/fps/
/attackstyles/
/build/
